# Data Focused Python  
# HW2  

Name:  Siyuan Liu
Andrew ID:  sliu5
Date:  09/05/2024

# INSTRUCTIONS  
Be sure to include the correct information in the first markdown cell (above).  
Enter your answers into the cells below.  
Save the file when you have answered all the questions.  
Uncomment the last cell and run it to save an html file.  
Append your Andrew ID to the html file.  
Submit the final html file.

In [15]:
# Question 1  
# Add a the value 1.094 at the start of list1

list1 = [3.14, 2.718, 1.618, 0.577, 4.669, 1.414]
list1.insert(0,1.094)
list1

[1.094, 3.14, 2.718, 1.618, 0.577, 4.669, 1.414]

In [16]:
# Question 2  
# Access and return the 6th element of t1 which has 8 items

t1 = (10, 20, 30, 40, 50, 'home', 1.2578, True)

t1[5]

'home'

In [17]:
# Question 3 
# Two sets are defined below
# (a) return the lengths of both sets
# (b) return the intersection of the sets

set1 = {
    "apple", "banana", "cherry", (1, 2, 3), (3, 4), 42, 1.25, "grape", "kiwi", "lemon",
    "mango", "nectarine", "orange", "pear", "quince", "raspberry", "strawberry", "tomato", 
    "watermelon", "zucchini", "blueberry", "blackberry", "cranberry", "date", "elderberry",
     "fig"
}

set2 = {
    "kiwi", "lemon", "mango", (1, 2, 3), "blueberry", "blackberry", "cranberry", "date", "elderberry", 
    "fig", "grapefruit", "honeydew", "jackfruit", "kumquat", "lime", "melon", "nectarine", "olive", "papaya", "quince", "raspberry", "strawberry", "tomato", "watermelon", "zucchini", 1.25
}

# code for part (a)
print("Length of set1:", len(set1))
print("Length of set1:", len(set2))

# code for part (b)
print(set1.intersection(set2))

Length of set1: 26
Length of set1: 26
{1.25, 'blackberry', 'strawberry', 'cranberry', 'fig', 'zucchini', 'lemon', 'kiwi', 'date', 'mango', (1, 2, 3), 'tomato', 'watermelon', 'raspberry', 'elderberry', 'blueberry', 'quince', 'nectarine'}

In [18]:
# Question 4  
# create a dictionary called book_dict with 5 key value pairs 
# where the keys are author names
# and the values are a book title
# use your favorite books, or classics
# or make up names and titles

book_dict = {"JK":"Harry Potter",
             "RF":"Babel",
             "SN":"The Cat Who Saved Books",
             "LA":"Broken Money",
             "CCB":"Payments Systems"}

In [19]:
# Question 5  
# return an alphabetically sorted list of author names in book_dict only using code
sorted(book_dict.keys())

['CCB', 'JK', 'LA', 'RF', 'SN']

In [20]:
# Question 6  
# make a list called rand_int of 100 random integers bewtween 1 and 100 using the numpy module
# DO NOT change the value of the seed() function called here
import numpy as np
np.random.seed(824)

rand_int = [np.random.randint(1,100) for i in range(100)]

In [21]:
# Question 7   
# using numpy, return (a) the minimum value
# (b) the maximum value and
# (c) the median value of your rand_int variable

# (a)
print("Min Value:", np.min(rand_int))

# (b)
print("Max Value:", np.max(rand_int))

# (c)
print("Median Value:", np.median(rand_int))

Min Value: 1
Max Value: 98
Median Value: 52.5

In [22]:
# Question 8   
# create a 5 row 6 column matrix of 1s using numpy
ones_df = np.ones((5,6))
ones_df

array([[1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.]])

In [23]:
# Question 9  
# use pandas to open the csv file 'diamonds.csv'
import pandas as pd
diamonds_df = pd.read_csv('diamonds.csv')

In [24]:
# Question 10  
# check for missing values in each of the columns
# HINT - there are missing values

missing_values = diamonds_df.isnull()
missing_values

      carat    cut  color  clarity  depth  table  price      x      y      z
0     False  False  False    False  False  False  False  False  False  False
1     False  False  False    False  False  False  False  False  False  False
2     False  False  False    False  False  False  False  False  False  False
3     False  False  False    False  False  False  False  False  False  False
4     False  False  False    False  False  False  False  False  False  False
...     ...    ...    ...      ...    ...    ...    ...    ...    ...    ...
1494  False  False  False    False  False  False  False  False  False  False
1495  False  False  False    False  False  False  False  False  False  False
1496  False  False  False    False  False  False  False  False  False  False
1497  False  False  False    False  False  False  False  False  False  False
1498  False  False  False    False  False  False  False  False  False  False

[1499 rows x 10 columns]

In [25]:
# # export notebook results to html
!jupyter nbconvert --to html HW2.ipynb

[NbConvertApp] Converting notebook HW2.ipynb to html
[NbConvertApp] Writing 292276 bytes to HW2.html