# Data Focused Python  
# HW3  

Name:  Siyuan Liu
Andrew ID:  sliu5
Date:  09.14.2024

# INSTRUCTIONS  
Be sure to include the correct information in the first markdown cell (above).  
Enter your answers into the cells below.  
Save the file when you have answered all the questions.  
Uncomment the last cell and run it to save an html file.  
Append your Andrew ID to the html file.  
Submit the final html file.  

Each question is worth 2 points.

In [1]:
# Question 1  
# Write a Python function called grade_classifier with if, elif and else statements that takes an integer as an argument and returns a string based on the following conditions:

# If the score is 90 or above, the grade is “A”.
# If the score is 80 to 89, the grade is “B”.
# If the score is 70 to 79, the grade is “C”.
# If the score is 60 to 69, the grade is “D”.
# If the score is below 60, the grade is “F”.

def grade_classifier(score):
    if score >= 90:
        return "A"
    elif score >= 80:
        return "B"
    elif score >= 70:
        return "C"
    elif score >= 60:
        return "D"
    else:
        return "F"

# test your function on the following values:
# (a) 91
# (b) 55
# (c) 71
print(grade_classifier(91))
print(grade_classifier(55))
print(grade_classifier(71))

A
F
C

In [2]:
# Question 2  
# Write a Python function called sum_even_list that takes a list of integers and returns the sum of only the even integers in the list (ignore any odd values). Use a for loop to iterate through the list. 
def sum_even_list(lst):
    sum = 0
    for num in lst:
        if num % 2 == 0:
            sum += num
    return sum

# Test your function on these lists:
print(sum_even_list([15, 117, 308, 31, 16, 104, 18, 19, 126, 21, 30]))
print(sum_even_list([266, 296, 302, 230, 284, 338, 272, 218, 212, 248, 254, 314, 320, 290, 308, 206, 242, 224, 332, 278, 202, 326, 236, 244, 230]))
print(sum_even_list([177, 503, 619, 731, 621, 759, 723, 651, 229, 489, 543, 725, 177, 263, 573, 319, 383, 457, 113, 639, 117, 595, 561, 149, 239, 139, 173, 333, 121, 101, 589, 141, 475, 649, 527, 775, 645, 671, 785, 471, 157, 763, 223, 531, 709, 797, 577, 563, 505, 179, 265, 337, 303, 487, 383, 569, 397, 419, 749, 461, 525, 107, 171, 191, 141, 685, 115, 153, 135, 681, 275, 497, 251, 487, 189, 553, 445, 151, 345, 791, 543, 795, 441, 725, 111, 301, 543, 779, 163, 107, 645, 155, 785, 776, 314, 446, 622, 604, 198, 212]))

602
6672
3172

In [6]:
# Question 3   
# Write a Python function sum_until_limit(limit) that uses a while loop to add consecutive integers starting from 1 until the sum reaches or exceeds the specified limit. The function should return the sum AND the number of integers added.
def sum_until_limit(limit):
    sum = 0
    i = 0
    while sum < limit:
        i += 1
        sum += i
    return sum, i

sum_until_limit(100)

(105, 14)

In [10]:
# Question 4  
# Implement a Python function find_max(*args) that takes any number of numerical arguments and returns the maximum value. If no arguments are provided, the function should return None.
def find_max(*args):
    if len(args) == 0:
        return None
    
    max = args[0]
    for num in args:
        if num > max:
            max = num
            
    return max
# Test your functions on the values in lists above - do not pass the function the list, however, you will need to copy the values from the list as this *args function accepts an unspecified number of arguments.
print(find_max())
print(find_max(15, 117, 308, 31, 16, 104, 18, 19, 126, 21, 30))
print(find_max(266, 296, 302, 230, 284, 338, 272, 218, 212, 248, 254, 314, 320, 290, 308, 206, 242, 224, 332, 278, 202, 326, 236, 244, 230))
print(find_max(177, 503, 619, 731, 621, 759, 723, 651, 229, 489, 543, 725, 177, 263, 573, 319, 383, 457, 113, 639, 117, 595, 561, 149, 239, 139, 173, 333, 121, 101, 589, 141, 475, 649, 527, 775, 645, 671, 785, 471, 157, 763, 223, 531, 709, 797, 577, 563, 505, 179, 265, 337, 303, 487, 383, 569, 397, 419, 749, 461, 525, 107, 171, 191, 141, 685, 115, 153, 135, 681, 275, 497, 251, 487, 189, 553, 445, 151, 345, 791, 543, 795, 441, 725, 111, 301, 543, 779, 163, 107, 645, 155, 785, 776, 314, 446, 622, 604, 198, 212))

None
308
338
797

In [1]:
# Question 5  
# Read in the diamonds dataset and write a lambda function to create a new column called "check" that has a value of 1 when the cut is "Ideal" and the color is "E" but is 0 otherwise. Count the number of 1s in this new check column
import pandas as pd

diamonds = pd.read_csv('diamonds.csv')
diamonds['check'] = diamonds.apply(lambda x: 1 if x['cut'] == 'Ideal' and x['color'] == 'E' else 0, axis=1)
print(diamonds['check'].sum())

/Users/liusiyuan/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

115

In [2]:
# export notebook results to html
!jupyter nbconvert --to html HW3.ipynb

[NbConvertApp] Converting notebook HW3.ipynb to html
[NbConvertApp] Writing 298759 bytes to HW3.html